<h1>Bonjour {{ question.user.nom }} !</h1>

<h3>{{ question.user.nom }} a répondu à la question : {{ question.titre }}</h3>

<h5>Réponse : </h5>
<p>{{ question.contenu }}</p>

Vous pouvez accéder à votre page en suivant ce lien :
<a href="{{ url }}">{{ question.titre }}</a>

<p>A bientôt sur la FAQ !</p>