{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}

    <h1 class='mb-3 fw-semibold'>Bienvenue dans la FAQ</h1>

    <ul class="list-group">
        {% for question in questions %}
            <li class="list-group-item">
                <div class="d-flex flex-column">
                    <div class="mb-2">
                        <div class="mb-0">
                            <img>{{ question.user.avatar}}</img>
                        </div>
                        <div>
                            <p class="mb-0"><small>Auteur : <span class="fw-semibold">{{ question.user.nom}}</span></small></p>
                            <p class="mb-0"><small>Posté le : {{ question.dateCreation|date("d.m.Y")}}</small></p>
                        </div>
                    </div>
                    <div>
                        <h4 class="fw-semibold"><a href="{{ path('app_one_question', { id: question.id }) }}">{{ question.titre}}</a></h4>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
