{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {# Message de succès #}
    {% for messageFlash in app.flashes('success') %}
        <div class="alert alert-success mt-3">
            {{messageFlash}}
        </div>
    {% endfor %}

    <h1 class="mb-3">Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Avatar</th>
                <th scope="col">Role<th>
                <th scope="col">Supprimer Utilisateur</th>
                <th scope="col">Modifier utilisateur</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.nom }}</td>
                    <td>
                        <img src="{{ asset(user.avatar) }}" alt="{{ user.nom }}" class="avatar">

                    </td>
                    <td>
                        {% for role in user.roles %}
                            {% if role is same as('ROLE_ADMIN') %}
                                <span class=" badge rounded-pill text-bg-danger">
                                    Administrateur
                                </span>
                            {% endif %}
                            <p>{{ role }}</p>
                        {% endfor %}

                    </td>
                    <td>                          
                        <form
                            action="{{ path('app_user_profile_delete', {id: user.id}) }}"
                            method="post"
                            onsubmit="return confirm('L\'utlisateur sera supprimé de manière définitive')"
                        >
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete_user-'~ user.id) }}">
                            <button type="submit" class="bg-transparent border-0">
                                <img src="{{ asset('imgs/icone/delete.svg') }}" alt="Suppression" title="Suppression">
                            </button>
                        </form>
                    </td>
                    <td>
                        {# Affiche le bouton "Devenir administrateur" si l'utilisateur n'est pas la personne actuellement connecté et que ce même utilisateur ne possède pas de rôle admin ('ROLE_ADMIN') #}
                        {% if 'ROLE_ADMIN' not in user.roles %}
                            <a href="{{ path('app_admin_user_role', {id: user.id}) }}">Devenir administrateur</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
